<section id="top" class="hero first-hero">
    <section class="container">
        <header>
            <section class="logo">
                <a href="/">In Limbo</a>
            </section>
            <nav>
                <a href="#about">About</a>
                <a href="#producers">Producers</a>
                <a href="#updates">Updates</a>
            </nav>
        </header>
        <section class="doc">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/6ujtRQOJ_sk" frameborder="0" allowfullscreen></iframe>
        </section>
    </section>
</section>
